################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3DTutorial/Start3DEngines/Temp
/3DTutorial/Start3DEngines/Logs
/3DTutorial/Start3DEngines/Library/ShaderCache

.vs/
